.page[b-ajydtd88ly] {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main[b-ajydtd88ly] {
    flex: 1;
}

.sidebar[b-ajydtd88ly] {
    background: #667db6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.top-row[b-ajydtd88ly] {
    background: none;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ajydtd88ly]  a, .top-row[b-ajydtd88ly]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-ajydtd88ly]  a:hover, .top-row[b-ajydtd88ly]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-ajydtd88ly]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ajydtd88ly] {
        display: none;
    }

    .top-row.auth[b-ajydtd88ly] {
        justify-content: space-between;
    }

    .top-row[b-ajydtd88ly]  a, .top-row[b-ajydtd88ly]  .btn-link {
        margin-left: 0;
    }
}

.notification-icon[b-ajydtd88ly] {
    color: rgb(41,153,57);
}

@media (min-width: 641px) {
    .page[b-ajydtd88ly] {
        flex-direction: row;
    }

    .sidebar[b-ajydtd88ly] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ajydtd88ly] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-ajydtd88ly]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-ajydtd88ly], article[b-ajydtd88ly] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
