

.card-header[b-4mpef45xs0] {
    
    color: #fff;
}

.card-body[b-4mpef45xs0] {
    padding: 1rem;
}



    .list-group-item span[b-4mpef45xs0] {
        color: #28a745;
    }

.text-muted[b-4mpef45xs0] {
    color: #28a745;
}

