@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-md-8">
        <h5 class="text-white display-5 text-center">Driver Tracking</h5>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.208991515994!2d-73.98542868429898!3d40.74881747932746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMznCsDUyJzQ4LjUiTiA3M8KwMjYnMzcuMiJX!5e0!3m2!1sen!2sus!4v1626184574801!5m2!1sen!2sus" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-4">
        
        <div class="text-center">
            <span class="iconify" data-icon="ic:baseline-account-circle" data-inline="false" style="font-size: 100px;"></span>
        </div>
        <h2 class="text-center mt-3 text-white">John Smith</h2>
        <p class="text-center text-muted">Transport Driver</p>
        <div class="card">
            <div class="card-header">Driver Information</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item  text-white">
                        <span class="iconify" data-icon="ic:baseline-face" data-inline="false" style="font-size: 18px;"></span>
                        Full Name: John Smith
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:sharp-drive-file-recent" data-inline="false" style="font-size: 18px;"></span>
                        Age: 35
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:sharp-drive-file-recent" data-inline="false" style="font-size: 18px;"></span>
                        License Number: ABC12345
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:twotone-directions-car" data-inline="false" style="font-size: 18px;"></span>
                        Vehicle Type: Sedan
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:baseline-email" data-inline="false" style="font-size: 18px;"></span>
                        Email: john.smith@example.com
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:baseline-phone" data-inline="false" style="font-size: 18px;"></span>
                        Phone: +1 (555) 987-6543
                    </li>
                    <li class="list-group-item text-white">
                        <span class="iconify" data-icon="ic:baseline-location-on" data-inline="false" style="font-size: 18px;"></span>
                        Location: New York, USA
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <button class="btn btn-light">
                    <span class="iconify" data-icon="ic:baseline-arrow-back" data-inline="false" style="font-size: 18px;"></span>
                    Back
                </button>
                <button class="btn btn-success float-right">
                    <span class="iconify" data-icon="ic:baseline-message" data-inline="false" style="font-size: 18px;"></span>
                    Messaging
                </button>
            </div>
        </div>
    </div>
    
</div>
