<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driver - STM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/STM.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon-32x32.png" type="image/x-icon">
    
</head>
<body>
    <div class="page">


        <div class="sidebar">
            <partial name="_DriverNavMenuPartial" />
        </div>
        <main>


            <article class="content px-4">

                @RenderBody()
                <partial name="_DriverFloatingButtonPartial" />
            </article>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/iconify/iconify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

