h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-group {
    position: relative;
}

.form-control {
    padding-left: 40px;
}

.iconify {
    position: absolute;
    top: 10px;
    left: 10px;
}

.preview-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
}

.container {
    max-width: 600px;
    padding: 20px;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
