.card[b-5kjlwurd51] {
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    border: none;
}

.card-header[b-5kjlwurd51] {
    background: #9CECFB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.card-body[b-5kjlwurd51] {
    padding: 1rem;
}

.list-group-item[b-5kjlwurd51] {
    background: radial-gradient(circle at 74.2% 50.9%, rgb(14, 72, 222) 5.2%, rgb(3, 22, 65) 75.3%);
    border: none;
}

    .list-group-item span[b-5kjlwurd51] {
        color: #28a745;
    }

.text-muted[b-5kjlwurd51] {
    color: #28a745;
}

.iconify[b-5kjlwurd51] {
    color: purple;
}

.map-container[b-5kjlwurd51] {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (change if needed) */
}

    .map-container iframe[b-5kjlwurd51] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
