.card[b-khtioq774p] {
    background: none;
    
}

.card-header[b-khtioq774p] {
    background:none;
    color: #fff;
}

.card-body[b-khtioq774p] {
    padding: 1rem;
}

.list-group-item[b-khtioq774p] {
    background:none;
    
}

    .list-group-item span[b-khtioq774p] {
        color: #28a745;
    }

.text-muted[b-khtioq774p] {
    color: #28a745;
}

